@import '~normalize.css/normalize.css';

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: #2e2e2e;
}

input,
button {
  outline: 0 !important;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
